<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>Name server</label>
            <!--input two-way data biding-->
            <input type="text" class="form-control" [(ngModel)]="serverName">
            
            <label>Server content</label>
            <!--Local reference in templace #serverNome-->
            <input type="text" class="form-control" #serverContentInput>
            
            <label>Server status</label>
            <!--Acess Dom via ViewChild-->
            <input type="text" class="form-control" #serverStatus>

            <hr>
            <button class="btn btn-success" (click)="onAddServer(serverContentInput)">Add server</button>
        </div>
    </div>
</div>