<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{name}}</div>
                <!--ng-content will be replaced by the content in the app.component.html
                    <div class="panel-body">{{serveElement.content}}</div>
                    <div class="panel-body">{{serveElement.status}}</div>-->
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>